#wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
html
{
background-color:#666666;
color:#FFF;
}

#body {
	background-color: #6c5177;
	clear: both;
	margin: 0px;
	padding-top: 50px;
}

#hero {
	height: 400px;
	width: 500px;
	background-color: #482955;
	margin-left: auto;
	margin-right: auto;
}
#hero img {
	width:500px
	
}
p {
 text-align: center;
}