
#header{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	clear: both;
	height: 30px;
	background-color:#FFF;
}
.circle {
	float: right;
    margin: 5px 5px;
    width: 20px; height: 20px;
    border-radius: 50%;
    background: #846f8d;
}

#title {
	background-color: #6c5177; 
	text-align: center;
	
}

#title h1 {
	margin: 0px;
	padding: 100px 0px;
}
