/* line 1, ../sass/components/_footer.scss */
footer {
  background-color: #A3D3FF;
  width: 100%;
  height: 20px;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

/* line 9, ../sass/components/_footer.scss */
footer a {
  font-style: normal;
  text-decoration: none;
  color: black;
}

/* line 2, ../sass/components/_grid.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/components/_grid.scss */
.grid li {
  background: #482955;
  float: left;
  height: 200px;
  width: 21%;
  color: #000;
  text-align: center;
  padding: 2%;
  font-size: 24px;
}

/* line 19, ../sass/components/_grid.scss */
#main {
  background-color: #FFF;
  padding: .5em;
}

/* line 23, ../sass/components/_grid.scss */
.songheader h3 {
  width: 100%;
  height: 20px;
  background-color: #59ABE3;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

/* line 31, ../sass/components/_grid.scss */
.songinfo {
  border-radius: 5px;
  width: 80%;
  margin: 0 10%;
  background-color: #DADFE1;
}

/* line 2, ../sass/components/_title.scss */
#header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  clear: both;
  color: #FFF;
  height: auto;
  background-color: #457F7C;
  box-shadow: inset 0 -5px #5dabde;
}

/* line 12, ../sass/components/_title.scss */
.circle {
  float: right;
  margin: 5px 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #846f8d;
}

/* line 20, ../sass/components/_title.scss */
#title {
  background-color: #A3D3FF;
  text-align: center;
}

/* line 25, ../sass/components/_title.scss */
#title h3:hover {
  color: #FFFFFF;
}

/* line 29, ../sass/components/_title.scss */
#title h1 {
  margin: 0px;
  padding: 10px 0px;
}

/* line 33, ../sass/components/_title.scss */
#title h3 {
  margin: 0px;
  padding: 20px;
  color: #482955;
  transition: color 2s;
}

/* line 39, ../sass/components/_title.scss */
#nav a {
  padding: 0;
  font-style: normal;
  text-decoration: none;
  color: white;
}

@media (max-width: 600px) {
  /* line 46, ../sass/components/_title.scss */
  #nav a {
    font-size: 200%;
  }
}
/* line 50, ../sass/components/_title.scss */
#nav span:hover {
  background-color: #6BC7C2;
}

/* line 54, ../sass/components/_title.scss */
#nav span {
  padding: 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 25%;
  display: inline-block;
  text-align: center;
}

/* line 63, ../sass/components/_title.scss */
#title span {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 50%;
  padding: 5px 0px;
  display: inline-block;
  text-align: center;
}

/* line 73, ../sass/components/_title.scss */
#title {
  box-shadow: 0px 5px 3px #777;
}

/* line 1, ../sass/components/_body.scss */
#wrap {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 7, ../sass/components/_body.scss */
html {
  background-color: #22313F;
  color: #000;
}

/* line 12, ../sass/components/_body.scss */
#body {
  background-color: #A3D3FF;
  clear: both;
  margin: 0px;
  padding-top: 50px;
}

/* line 19, ../sass/components/_body.scss */
#main {
  box-shadow: inset 0 5px #DDD;
}

/* line 23, ../sass/components/_body.scss */
p {
  text-align: center;
}

/* line 26, ../sass/components/_body.scss */
.showcode {
  font-style: normal;
  color: black;
}

/* line 31, ../sass/components/_body.scss */
.contributor {
  float: right;
  display: inline-block;
  width: 20%;
  text-align: right;
}

/* line 37, ../sass/components/_body.scss */
.date {
  width: 50%;
  float: right;
  display: inline-block;
  text-align: right;
}

/* line 43, ../sass/components/_body.scss */
.code {
  word-wrap: break-word;
}

/* line 46, ../sass/components/_body.scss */
.codewidth {
  width: 80%;
  margin: 5px 10%;
  padding: 2px 2px;
  border: solid 2px;
}

/* line 52, ../sass/components/_body.scss */
form input, form textarea {
  width: 70%;
  float: right;
  display: inline-block;
}

/* line 57, ../sass/components/_body.scss */
.formspan {
  clear: both;
  margin: 5px;
  text-align: right;
}

/* line 62, ../sass/components/_body.scss */
form {
  display: inline-block;
  height: 100%;
  width: 80%;
}

/* line 67, ../sass/components/_body.scss */
textarea {
  width: 300px;
  height: 50px;
}

/* line 71, ../sass/components/_body.scss */
#thanks {
  display: none;
  width: 100%;
  text-align: center;
  clear: both;
}

/* line 77, ../sass/components/_body.scss */
button {
  width: 30%;
  clear: both;
}

/* line 81, ../sass/components/_body.scss */
#subdiv {
  margin: auto;
  width: 50%;
  display: block;
  text-align: center;
}

/* line 88, ../sass/components/_body.scss */
#submitad {
  width: 20%;
  float: right;
}

/* line 93, ../sass/components/_body.scss */
img {
  width: 100%;
  display: inline;
}

/* line 98, ../sass/components/_body.scss */
.ad {
  display: block;
  width: 49%;
  height: 400px;
  text-align: center;
}

/* line 106, ../sass/components/_body.scss */
.ada {
  width: 120px;
  background-color: #fff;
  height: 40px;
  margin-top: 100px;
}

/* line 112, ../sass/components/_body.scss */
.right {
  float: right;
}

/* line 115, ../sass/components/_body.scss */
.ada a {
  font-style: normal;
  text-decoration: none;
  color: black;
}

/* line 120, ../sass/components/_body.scss */
.inline {
  display: inline;
}

/* line 124, ../sass/components/_body.scss */
#mainback {
  background-image: url("../img/library.jpg");
}
