
#footer {
	background-color: #86708F;
	clear: both;
}

#footer-table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	border-spacing: 20px;
	font-size:24px;
	text-align:center;

}

#footer-table td {
	background: #482955;
	width: 50%;
	box-shadow:inset 0 0 10px #000000;
}

#footer-table tr {
	height: 200px;
}